*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body > header {
    background-color: rgb(92, 163, 92);
    padding: 16px 0px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
}

.container {
    width: 1366px;
    margin: 0 auto 0 auto;

}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    /*height: 188px;*/
    width: 100%;
    
}

.articles article {
    width: 30%;

}

section {
    padding: 16px 0px;
}

section h2,
.articles article{
    margin-bottom: 16px;

}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a{
    
    color: #fff;
    padding: 8px;
    display: inline-block;
    font-weight: bold;
    margin-top: 8px;
}

#sports {
    background-color: rgba(0, 225, 0, 0.1);


}

#economia {
    background-color: rgba(255, 251, 0, 0.219);

}

.articles article p
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
}

#tecnologia {
    background-color: rgba(90, 207, 207, 0.397);
}

#entretenimento{
    background-color: rgba(151, 60, 128, 0.37);
}

.articles time {
    color: #8d8d8dd3;
}

#sports a{
    background-color: rgba(139, 223, 128, 0.705);
}

#economia a{
    background-color: rgba(228, 224, 21, 0.733);
}

#tecnologia a{
    background-color: rgba(0, 26, 255, 0.404);
}

#entretenimento a{
    background-color: rgba(247, 57, 161, 0.61);
}

.globo {
    box-sizing: border-box;
    padding: 0;
    text-decoration: underline;
}

